# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/
*.local

# Environment & Secrets
.env
.env.*
!.env.example
*.pem
*.key

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & System
.vscode/
.idea/
.DS_Store
Thumbs.db
